export(better_galaxy_mask)
export(compute_residual_diagnostics)
export(deproject_coordinates)
export(disc_velocity_model)
export(estimate_bar_geometry)
export(estimate_disc_geometry)
export(fit_axisymmetric_piecewise_model)
export(fit_bisymmetric_model)
export(fit_disc_model)
export(infer_manga_plateifu)
export(manga_metadata)
export(manga_redshift)
export(plot_capivara_component_decomposition)
export(plot_capivara_kinematics)
export(read_capivara_output)
export(read_manga_cube_metadata)
export(read_manga_redshift_table)
export(resolve_manga_redshift)
export(run_manga_bar_model)
export(run_one_galaxy)
export(run_batch_barred_manga)
S3method(plot, capivara_manga_bar_result)
S3method(print, capivara_manga_bar_result)
importFrom(stats, approx)
